.SearchBox {
  position: absolute;
  margin-left: 20%;
  width: 40%;
  background-color: white;
  border-radius: 6px;
}
.SearchBox1 {
  width: 100%;
}
.typoClass {
  position: absolute;
  margin-left: 10%;
}
.BoxOuter {
  position: sticky;
  top: 0;
}
.Appbarclass {
}
.ToolBarClass {
  padding: 0 !important;
}
.cartLogoDiv {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 12%;
  margin-left: 82%;
}
.ImageClass {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 6%;
  height: 65%;
}
.searchInput {
  width: 20%;
}
.iconBox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
